<style>
.topText {
  font-size: 32px;
  background-color: rgb(243, 39, 56);
}
.detailText {
  font-size: 20px;
}
.secontopText {
  font-size: 20px;
  background-color: rgb(0, 187, 250);
}
</style>
<template>
  <div class="row">
    <div
      class="col-11 text-center mt-2 topText border border-5 border-secondary"
    >
      <p>Dashboard</p>
    </div>
    <div
      class="col-11 text-center mt-3 secontopText border border-secondary border-bottom-0"
    >
      <p>รายละเอียดที่เปิดรับสมัครที่ลงรับไว้</p>
    </div>
    <div
      class="col-11 border border-5 border-secondary p-5 detailText"
      :items="exampleData"
    >
      <div class="row">
        <div class="col-11">
          <div v-for="(exampleData, count) in exampleData" :key="exampleData._id">
            <div class="border border-secondary mb-3 p-4">
              <p>ใบประกาศที่ : {{ count + 1 }}</p>
              <p>ตำแหน่งที่รับ : {{ exampleData.position }}</p>
              <p>จำนวนที่รับ : {{ exampleData.numberofapplicants }}</p>
              <p>วันที่เปิดรับ : {{ formatDate(exampleData.opendate) }}</p>
              <p>วันที่ปิดรับ : {{ formatDate(exampleData.closedate) }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
import moment from 'moment'

export default {
  data () {
    return {
      count: 1,
      exampleData: [
        {
          id: 1,
          position: 'โปรแกรมเมอร์',
          salary: '25000',
          workplace: 'ตึก คลิกแบ็ค',
          province: 'ชลบุรี',
          numberofapplicants: 3,
          condition: 'จะต้องสามารถเขียนC++ และ Javaได้ มีประสบการณ์2ปี',
          welfare: 'สามารถลาหยุดได้ 7วัน/1ปี',
          opendate: '1/1/2564',
          closedate: '30/1/2564'
        }
      ]
    }
  },
  methods: {
    getPostworks () {
      axios
        .get('http://localhost:3000/postworks')
        .then(res => {
          console.log(res)
          this.exampleData = res.data
        })
        .catch(err => {
          console.log(err)
        })
    },
    formatDate (value) {
      if (value) {
        return moment(String(value)).format('DD/MM/YYYY')
      }
    }
  },
  mounted () {
    this.getPostworks()
  }
}
</script>
