<template>
  <div>
    <b-navbar toggleable="lg" type="dark" variant="primary">
      <b-navbar-brand href="#">Home</b-navbar-brand>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav class="ml-auto">
          <b-nav-item><router-link router-link class="btn btn-dark" to="/login">เข้าสู่ระบบ</router-link></b-nav-item>
          <b-nav-item ><router-link router-link class="btn btn-dark" to="/register">สมัครสมาชิก</router-link></b-nav-item>
          <b-nav-item ><router-link router-link class="btn btn-dark" to="/registerCompany">สำหรับบริษัท</router-link></b-nav-item>
        </b-navbar-nav>

        <!-- Right aligned nav items -->
      </b-collapse>
    </b-navbar>
  </div>
</template>
<style>
.navbar-nav .nav-link .nav-item {
  color: white !important;
}
</style>
