<template>
  <div>
    <b-nav vertical class="w-25">
      <b-nav-item active><router-link to="/">Home</router-link></b-nav-item>
      <b-nav-item><router-link to="/users">Users</router-link></b-nav-item>
      <b-nav-item><router-link to="/positions">Positions</router-link></b-nav-item>
      <b-nav-item><router-link to="/resume">Resume</router-link></b-nav-item>
      <b-nav-item><router-link to="/postwork">Postwork</router-link></b-nav-item>
      <b-nav-item><router-link to="/company">Company Detail</router-link></b-nav-item>
      <b-nav-item><router-link to="/companyHome">Company Homepage</router-link></b-nav-item>
    </b-nav>
  </div>
</template>
