<template>
  <div class="multiselected">
    <b-form-select v-model="model" :options="options" class="mb-3">
      <template #first>
        <b-form-select-option :value="null" disabled
          >-- Please select an option --</b-form-select-option
        >
      </template>
    </b-form-select>
  </div>
</template>

<style>
.mb-3 {
  margin-top: 10px;
}
</style>

<script>
export default {
  data () {
    return {
      model: null,
      options: [
        { value: 'งานไอที', text: 'งานไอที' },
        { value: 'งานออกแบบ', text: 'งานออกแบบ' }
      ]
    }
  }
}
</script>
