<template>
  <div>
    <article class="all-jobs">
      <b-card class="jobs" border-variant="secondary">
        <h3>{{ post._id }}</h3>
        <p>
          <b>ตำแหน่ง: {{ post.position }}</b>
        </p>
        <span>จังหวัด: {{ post.province }}</span> <br />
        <span>เงินเดือน: {{ post.salary }} บาท</span> <br />
        <span>วันที่เปิดรับสมัคร: {{ post.opendate }} </span>
        <div class="text-right">
          <b-button
            pill
            variant="outline-secondary"
            @click="showDetail(post._id)"
          >
            ดูรายละเอียดเพิ่มเติม</b-button
          >
        </div>
      </b-card>
    </article>
  </div>
</template>

<style>
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200&display=swap');
.all-jobs {
  font-family: 'Kanit', sans-serif;
  padding-bottom: 15px;
}
</style>

<script>
export default {
  props: ['post'],
  methods: {
    showDetail (id) {
      this.$router.push({
        path: '/detail',
        query: { id: id }
      })
    }
  }
}
</script>
