<template>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3 col-sm-10 offset-sm-1">
        <form
          class="text-center border border-primary p-5"
          style="margin-top:100px;height:auto;padding-top:70px !important;"
          @submit.prevent="registerUser"
        >
        <h2>สมัครสมาชิก</h2>
        <br>
          <input
            type="text"
            id="name"
            class="form-control mb-4"
            placeholder="ชื่อ"
            v-model="register.name"
            required
          />
          <input
            type="email"
            id="email"
            class="form-control mb-4"
            placeholder="อีเมลล์"
            v-model="register.email"
            required
          />

          <!-- Password -->
          <input
            type="password"
            id="password"
            class="form-control mb-4"
            placeholder="รหัสผ่าน"
            v-model="register.password"
          />
          <p>
            มีบัญชีผู้ใช้อยู่แล้ว?<router-link to="/login"
              >คลิกที่นี่</router-link
            >

            <!-- Sign in button -->
            <center>
              <button class="btn btn-primary btn-block w-75 my-4" type="submit">
                สมัครสมาชิก
              </button>
            </center>
          </p>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import swal from 'sweetalert'
export default {
  data () {
    return {
      register: {
        name: '',
        email: '',
        password: ''
      }
    }
  },
  methods: {
    async registerUser () {
      try {
        const response = await this.$http.post('/setting/register', this.register)
        console.log(response)
        const token = response.data.token
        if (token) {
          localStorage.setItem('jwt', token)
          this.$router.push('/login')
          swal('Success', 'Registration Was successful', 'success')
        } else {
          swal('Error', 'Something Went Wrong', 'Error')
        }
      } catch (err) {
        const error = err.response
        if (error.status === 409) {
          swal('Error', error.data.message, 'error')
        } else {
          swal('Error', error.data.err.message, 'error')
        }
      }
    }
  }
}
</script>
