<style>
.topText1 {
  font-size: 32px;
  background-color: rgb(0, 186, 248);
}
.detailText {
  font-size: 20px;
}
</style>
<template>
  <div class="row">
    <div
      class="col-11 text-center mt-2 topText1 border border-secondary border-bottom-0"
    >
      <p>รายละเอียดบริษัท</p>
    </div>
    <div
      class="col-11 border border-5 border-secondary p-5 detailText"
      :items="exampleData"
    >
      <div class="row">
        <div class="col-6">
          <p>ชื่อบริษัท : {{ exampleData.name }}</p>
          <br />
          <p>ที่อยู่ : {{ exampleData.address }}</p>
          <br />
        </div>
        <div class="col-5">
          <p>สาขา : {{ exampleData.branch }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <p>อีเมลล์ : {{ exampleData.email }}</p>
        </div>
        <div class="col-4">
          <p>เบอร์โทรศัพท์ :{{ exampleData.tel }}</p>
        </div>
        <div class="col-4">
          <p>การยืนยันตัวตน :{{ exampleData.verified }}</p>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
export default {
  data () {
    return {
      exampleData: [
        {
          id: 1,
          name: 'clickback',
          branch: 'chonburi',
          address: 'bangsean',
          email: 'clickback@gmail.com',
          tel: '0881116666',
          verified: 'vefiied'
        }
      ]
    }
  },
  methods: {
    getUser () {
      axios
        .get('http://localhost:3000/users/6044c5fabac0aa6b78aeb225')
        .then(res => {
          console.log(res)
          this.exampleData = res.data
        })
        .catch(err => {
          console.log(err)
        })
    }
  },
  mounted () {
    this.getUser()
  }
}
</script>
