<template>
  <div>
    <b-table striped hover :items="exampleData" :fields="fields">
      <template v-slot:cell(operation)="data">
        <b-button @click="editData(data.item)">แก้ไขประกาศ</b-button>&nbsp;
        <b-button variant="danger" @click="delData(data.item)"
          >ลบประกาศ</b-button
        >
      </template>
    </b-table>
    <b-button variant="success" @click="addData">ประกาศงาน</b-button>
    <b-modal
      id="modal-form-postwork"
      ref="modal-form-postwork"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="ตำแหน่ง:"
          label-for="position"
          :invalid-feedback="invalidFeedbackPosition"
          :valid-feedback="validFeedbackPosition"
          :state="statePosition"
        >
          <b-form-select
            id="position"
            v-model="form.position"
            :options="positionOptions"
            required
          ></b-form-select>
        </b-form-group>
        <b-form-group
          label="เงินเดือน"
          label-for="salary"
          :invalid-feedback="invalidFeedbackSalary"
          :valid-feedback="validFeedbackSalary"
          :state="stateSalary"
        >
          <b-form-input
            id="salary"
            type="number"
            v-model="form.salary"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="สถานที่ทำงาน"
          label-for="workplace"
          :invalid-feedback="invalidFeedbackWorkplace"
          :valid-feedback="validFeedbackWorkplace"
          :state="stateWorkplace"
        >
          <b-form-input
            id="workplace"
            v-model="form.workplace"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group label="จังหวัด" label-for="province">
          <b-form-input
            id="province"
            v-model="form.province"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="จำนวนที่รับ"
          label-for="numberofapplicants"
          :invalid-feedback="invalidFeedbackNumberofapplicants"
          :valid-feedback="validFeedbackNumberofapplicants"
          :state="stateNumberofapplicants"
        >
          <b-form-input
            id="numberofapplicants"
            type="number"
            v-model="form.numberofapplicants"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="เงื่อนไข"
          label-for="condition"
          :invalid-feedback="invalidFeedbackCondition"
          :valid-feedback="validFeedbackCondition"
          :state="stateCondition"
        >
          <b-form-textarea
            id="condition"
            v-model="form.condition"
            required
          ></b-form-textarea>
        </b-form-group>
        <b-form-group
          label="สวัสดิการ"
          label-for="welfare"
          :invalid-feedback="invalidFeedbackWelfare"
          :valid-feedback="validFeedbackWelfare"
          :state="stateWelfare"
        >
          <b-form-textarea
            id="welfare"
            v-model="form.welfare"
            required
          ></b-form-textarea>
        </b-form-group>
        <b-form-group
          label="วันที่เปิดรับ"
          label-for="opendate"
          :invalid-feedback="invalidFeedbackOpendate"
          :valid-feedback="validFeedbackOpendate"
          :state="stateOpendate"
        >
          <b-form-input
            id="opendate"
            v-model="form.opendate"
            type="text"
            placeholder="ปี-เดือน-วัน"
            autocomplete="off"
          ></b-form-input>
          <b-input-group-append>
            <b-form-datepicker
              v-model="form.opendate"
              button-only
              right
              locale="en-US"
              aria-controls="opendate"
            ></b-form-datepicker>
          </b-input-group-append>
        </b-form-group>
        <b-form-group
          label="วันที่ปิดรับ"
          label-for="closedate"
          :invalid-feedback="invalidFeedbackClosedate"
          :valid-feedback="validFeedbackClosedate"
          :state="stateClosedate"
        >
          <b-form-input
            id="closedate"
            v-model="form.closedate"
            type="text"
            placeholder="ปี-เดือน-วัน"
            autocomplete="off"
          ></b-form-input>
          <b-input-group-append>
            <b-form-datepicker
              v-model="form.closedate"
              button-only
              right
              locale="en-US"
              aria-controls="closedate"
            ></b-form-datepicker>
          </b-input-group-append>
        </b-form-group>
      </form>
      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card>
    </b-modal>
  </div>
</template>

<script>
import axios from 'axios'
import moment from 'moment'
export default {
  data () {
    return {
      title: 'ประกาศงาน',
      form: {
        _id: '',
        position: null,
        salary: '',
        workplace: '',
        province: '',
        numberofapplicants: '',
        condition: '',
        exprerience: '',
        welfare: '',
        opendate: '',
        closedate: ''
      },
      positionOptions: [
        { text: 'โปรดเลือก', value: null },
        { value: 'โปรแกรมเมอร์', text: 'โปรแกรมเมอร์' },
        { value: 'Tester', text: 'Tester' },
        { value: 'BusinessAnalysis', text: 'BusinessAnalysis' }
      ],
      exampleData: [],
      fields: [
        { key: 'position', label: 'ตำแหน่ง' },
        { key: 'salary', label: 'เงินเดือน' },
        { key: 'workplace', label: 'สถานที่ทำงาน' },
        { key: 'province', label: 'จังหวัด' },
        { key: 'numberofapplicants', label: 'จำนวนที่รับ' },
        { key: 'condition', label: 'เงื่อนไข' },
        { key: 'welfare', label: 'สวัสดิการ' },
        { key: 'opendate', label: 'วันที่เปิดรับ' },
        { key: 'closedate', label: 'วันที่ปิดรับ' },
        { key: 'operation', label: 'ตัวเลือก' }
      ]
    }
  },
  methods: {
    formatDate (value) {
      if (value) {
        return moment(String(value)).format('MM/DD/YYYY')
      }
    },
    addData () {
      console.log('ประกาศงาน')
      this.$bvModal.show('modal-form-postwork')
    },
    editData (postwork) {
      console.log('Edit' + postwork)
      this.title = 'แก้ไขประกาศ'
      this.form = { ...postwork }
      this.$bvModal.show('modal-form-postwork')
    },
    delData (postwork) {
      console.log('Del' + postwork)
      this.$bvModal
        .msgBoxConfirm(
          'ลบประกาศ ' + postwork.position + ' สถานที่ ' + postwork.workplace,
          {
            title: 'กรุณายืนยัน',
            size: 'sm',
            buttonSize: 'sm',
            okVariant: 'danger',
            okTitle: 'ลบ',
            cancelTitle: 'ยกเลิก',
            footerClass: 'p-2',
            hideHeaderClose: false,
            centered: true
          }
        )
        .then(value => {
          if (value) {
            axios
              .delete('http://localhost:3000/postworks/' + postwork._id)
              .then(res => {
                console.log(res)
                this.getPostworks()
              })
          }
        })
    },
    resetModal () {
      this.form = {
        _id: '',
        position: null,
        salary: '',
        workplace: '',
        numberofapplicants: '',
        condition: '',
        welfare: '',
        opendate: '',
        closedate: ''
      }
    },
    handleOk (bvModalEvt) {
      bvModalEvt.preventDefault()
      this.handleSubmit()
    },
    handleSubmit () {
      if (
        this.statePosition === false ||
        this.stateSalary === false ||
        this.stateWorkplace === false ||
        this.stateNumberofapplicants === false ||
        this.stateCondition === false ||
        this.stateWelfare === false ||
        this.stateOpendate === false ||
        this.stateClosedate === false
      ) {
        return
      }
      if (this.form._id !== '') {
        axios
          .put('http://localhost:3000/postworks', this.form)
          .then(res => {
            console.log(res)
            this.getPostworks()
          })
          .catch(err => {
            console.log(err)
          })
      } else {
        delete this.form._id
        axios
          .post('http://localhost:3000/postworks', this.form)
          .then(res => {
            console.log(res)
            this.getPostworks()
          })
          .catch(err => {
            console.log(err)
          })
      }
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-postwork')
      })
    },
    addPostwork (postwork) {
      postwork.id = this.lastId++
      this.exampleData.push(postwork)
    },
    updatePostwork (postwork) {
      const index = this.exampleData.findIndex(item => item.id === postwork._id)
      this.exampleData.splice(index, 1, postwork)
    },
    deletePostwork (postwork) {
      const index = this.exampleData.findIndex(item => item.id === postwork._id)
      this.exampleData.splice(index, 1)
    },
    getPostworks () {
      axios
        .get('http://localhost:3000/postworks')
        .then(res => {
          console.log(res)
          this.exampleData = res.data
        })
        .catch(err => {
          console.log(err)
        })
    }
  },
  computed: {
    statePosition () {
      return this.form.position != null
    },
    invalidFeedbackPosition () {
      if (this.form.position != null) {
        return ''
      } else {
        return 'กรุณาเลือกตำแหน่ง'
      }
    },
    validFeedbackPosition () {
      return this.statePosition === true ? 'ผ่าน' : ''
    },
    stateSalary () {
      return this.form.salary >= 1
    },
    invalidFeedbackSalary () {
      if (this.form.salary === 1) {
        return ''
      } else if (this.form.salary === 0) {
        return 'กรุณาใส่จำนวนเงินเดือน'
      } else {
        return 'กรุณาใส่เงินเดือน'
      }
    },
    validFeedbackSalary () {
      return this.stateSalary === true ? 'ผ่าน' : ''
    },
    stateWorkplace () {
      return this.form.workplace.length >= 1
    },
    invalidFeedbackWorkplace () {
      if (this.form.workplace.length > 1) {
        return ''
      } else if (this.form.workplace.length > 0) {
        return 'กรุณาใส่สถานที่ทำงาน'
      } else {
        return 'กรุณาใส่สถานที่'
      }
    },
    validFeedbackWorkplace () {
      return this.stateWorkplace === true ? 'ผ่าน' : ''
    },
    stateNumberofapplicants () {
      return this.form.numberofapplicants >= 1
    },
    invalidFeedbackNumberofapplicants () {
      if (this.form.numberofapplicants === 1) {
        return ''
      } else if (this.form.numberofapplicants === 0) {
        return 'กรุณาใส่จำนวนที่รับ'
      } else {
        return 'กรุณาใส่จำนวนที่รับ'
      }
    },
    validFeedbackNumberofapplicants () {
      return this.stateNumberofapplicants === true ? 'ผ่าน' : ''
    },
    stateCondition () {
      return this.form.condition.length >= 1
    },
    invalidFeedbackCondition () {
      if (this.form.condition.length > 1) {
        return ''
      } else if (this.form.condition.length > 0) {
        return 'กรุณาใส่เงื่อนไข'
      } else {
        return 'กรุณาใส่เงื่อนไข'
      }
    },
    validFeedbackCondition () {
      return this.stateCondition === true ? 'ผ่าน' : ''
    },
    stateWelfare () {
      return this.form.welfare.length >= 1
    },
    invalidFeedbackWelfare () {
      if (this.form.welfare.length > 1) {
        return ''
      } else if (this.form.welfare.length > 0) {
        return 'กรุณาใส่สวัสดิการ'
      } else {
        return 'กรุณาใส่สวัสดิการ'
      }
    },
    validFeedbackWelfare () {
      return this.stateWelfare === true ? 'ผ่าน' : ''
    },
    stateOpendate () {
      return this.form.opendate.length >= 1
    },
    invalidFeedbackOpendate () {
      if (this.form.opendate.length > 1) {
        return ''
      } else if (this.form.opendate.length > 0) {
        return 'กรุณากรอกวันที่'
      } else {
        return 'กรุณากรอกวันที่'
      }
    },
    validFeedbackOpendate () {
      return this.stateOpendate === true ? 'ผ่าน' : ''
    },
    stateClosedate () {
      return this.form.closedate >= 1 || this.form.closedate > this.form.opendate
    },
    invalidFeedbackClosedate () {
      if (this.form.closedate > this.form.opendate && this.form.closedate != null) {
        return ''
      } else if (this.form.closedate < this.form.opendate) {
        return 'กรุณากรอกวันที่ และกรุณากรอกให้มากกว่าวันที่เปิดรับสมัคร'
      } else {
        return 'กรุณากรอกวันที่'
      }
    },
    validFeedbackClosedate () {
      return this.stateClosedate === true ? 'ผ่าน' : ''
    }
  },
  mounted () {
    this.getPostworks()
  }
}
</script>
