<template>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <b-card border-variant="secondary" class="JobDetail">
        <p>
          ชื่อบริษัท: {{ postDetail.id }} <br />
          ตำแหน่งงานที่รับ: {{ postDetail.position }} <br />
          เงินเดือน : {{ postDetail.salary }} <br />
          สถานที่ทำงาน : {{ postDetail.workplace }} <br />
          จังหวัด : {{ postDetail.province }} <br />
          จำนวนที่รับสมัคร : {{ postDetail.numberofapplicants }} <br />
          คุณสมบัติ: {{ postDetail.condition }} <br />
          สวัสดิการ: {{ postDetail.welfare }}<br />
          วันที่เปิดรับสมัคร: {{ postDetail.opendate }}
          <br />วันที่เปิดรับสมัคร: {{ postDetail.closedate }} <br />
        </p>
        <div class="text-right">
          <b-button pill variant="outline-secondary"><router-link to="/apply">สมัครงานนี้</router-link></b-button>
        </div>
      </b-card>
    </div>
  </div>
</template>

<style>
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200&display=swap');
.JobDetail {
  font-family: 'Kanit', sans-serif;
}
.row {
  padding-top: 10px;
}
p {
  font-size: 20px;
}
</style>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      postDetail: []
    }
  },
  methods: {
    getPostwork (id) {
      axios
        .get('http://localhost:3000/postworks/' + id)
        .then(res => {
          console.log(res)
          this.postDetail = res.data
        })
        .catch(err => {
          console.log(err)
        })
    }
  },
  mounted () {
    console.log('ไอดีที่ส่งมา: ' + this.$route.query.id)
    this.getPostwork(this.$route.query.id)
  }
}
</script>
