<template>
  <div>
    <div>
      <b-table striped hover :items="positionList" :fields="fields">
        <template v-slot:cell(operation)="data">
          <b-button @click="editData(data.item)">แก้ไขตำแหน่งงาน</b-button
          >&nbsp;
          <b-button variant="danger" @click="delData(data.item)"
            >ลบตำแหน่งงาน</b-button
          >
        </template>
      </b-table>
      <b-button variant="success" @click="addData">เพิ่มตำแหน่งงาน</b-button>
      <b-modal
        id="modal-form-position"
        ref="modal-form-position"
        :title="title"
        @hidden="resetModal"
        @ok="handleOk"
      >
        <form ref="form" @submit.stop.prevent="handleSubmit">
          <b-form-group
            label="ชื่อ"
            label-for="name"
            :invalid-feedback="invalidFeedbackName"
            :valid-feedback="validFeedbackName"
            :state="stateName"
          >
            <b-form-input id="name" v-model="form.name" required></b-form-input>
          </b-form-group>
          <b-form-group
            label="ประเภท:"
            label-for="type"
            :invalid-feedback="invalidFeedbackType"
            :valid-feedback="validFeedbackType"
            :state="stateType"
          >
            <b-form-select
              id="type"
              v-model="form.type"
              :options="typeOptions"
              required
            ></b-form-select>
          </b-form-group>
        </form>
        <b-card class="mt-3" header="Form Data Result">
          <pre class="m-0">{{ form }}</pre>
        </b-card>
      </b-modal>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
// import { delete } from 'vue/types/umd'
export default {
  data () {
    return {
      title: 'เพิ่มผู้ใช้งาน',
      form: {
        _id: '',
        name: '',
        type: null
      },
      typeOptions: [
        { text: 'โปรดเลือก', value: null },
        { value: 'งานไอที', text: 'งานไอที' },
        { value: 'งานออกแบบ', text: 'งานออกแบบ' }
      ],
      positionList: [],
      fields: [
        { key: '_id', label: 'ไอดี' },
        { key: 'name', label: 'ชื่อตำแหน่งงาน' },
        { key: 'type', label: 'ประเภทตำแหน่งงาน' },
        { key: 'operation', label: 'ตัวเลือก' }
      ]
    }
  },
  methods: {
    getPositions () {
      axios
        .get('http://localhost:3000/positions')
        .then(res => {
          console.log(res)
          this.positionList = res.data
        })
        .catch(err => {
          console.log(err)
        })
    },
    addData () {
      console.log('เพิ่มตำแหน่งงาน')
      this.title = 'เพิ่มตำแหน่งงาน'
      this.$bvModal.show('modal-form-position')
    },
    editData (position) {
      console.log('Edit' + position)
      this.title = 'แก้ไขตำแหน่งงาน'
      this.form = { ...position }
      this.$bvModal.show('modal-form-position')
    },
    delData (position) {
      console.log('Del' + position)
      this.$bvModal
        .msgBoxConfirm('ลบตำแหน่งงาน ' + position.name, {
          title: 'กรุณายืนยัน',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'ลบ',
          cancelTitle: 'ยกเลิก',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            axios
              .delete('http://localhost:3000/positions/' + position._id)
              .then(res => {
                console.log(res)
                this.getPositions()
              })
          }
        })
    },
    resetModal () {
      this.form = {
        _id: '',
        name: '',
        type: null
      }
    },
    handleOk (bvModalEvt) {
      bvModalEvt.preventDefault()
      this.handleSubmit()
    },
    handleSubmit () {
      if (this.stateName === false || this.stateType === false) {
        return
      }
      if (this.form._id !== '') {
        axios
          .put('http://localhost:3000/positions', this.form)
          .then(res => {
            console.log(res)
            this.getPositions()
          })
          .catch(err => {
            console.log(err)
          })
      } else {
        delete this.form._id
        axios
          .post('http://localhost:3000/positions', this.form)
          .then(res => {
            console.log(res)
            this.getPositions()
          })
          .catch(err => {
            console.log(err)
          })
      }

      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-position')
      })
    }
  },
  computed: {
    stateName () {
      return this.form.name.length >= 2
    },
    invalidFeedbackName () {
      if (this.form.name.length > 2) {
        return ''
      } else if (this.form.name.length > 0) {
        return 'กรุณาใส่ชื่ออย่างน้อย 2 ตัวอักษร'
      } else {
        return 'กรุณาใส่ชื่อ'
      }
    },
    validFeedbackName () {
      return this.stateName === true ? 'ผ่าน' : ''
    },
    stateType () {
      return this.form.type != null
    },
    invalidFeedbackType () {
      if (this.form.type != null) {
        return ''
      } else {
        return 'กรุณาเลือกประเภท'
      }
    },
    validFeedbackType () {
      return this.stateType === true ? 'ผ่าน' : ''
    }
  },
  mounted () {
    console.log('vue component is mounted')
    this.getPositions()
  }
}
</script>
