<template>
  <div>
    <b-table striped hover :items="exampleData" :fields="fields">
      <template v-slot:cell(operation)="data">
        <b-button @click="updateResume(data.item)">แก้ไขเรซูเม่</b-button>&nbsp;
        <b-button variant="danger" @click="deleteResume(data.item)"
          >ลบเรซูเม่</b-button
        >
      </template>
    </b-table>
    <b-button variant="success" @click="addResume">สร้างเรซูเม่</b-button>
    <b-modal
      id="modal-form-resume"
      ref="modal-form-resume"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <b-form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="ชื่อ"
          label-for="name"
          :invalid-feedback="invalidFeedbackName"
          :valid-feedback="validFeedbackName"
          :state="stateName"
        >
          <b-form-input id="name" v-model="form.name" required></b-form-input>
        </b-form-group>

        <b-form-group
          label="อายุ"
          label-for="age"
          :invalid-feedback="invalidFeedbackAge"
          :valid-feedback="validFeedbackAge"
          :state="stateAge"
        >
          <b-form-input  id="age" v-model="form.age"  required></b-form-input>
        </b-form-group>

        <b-form-group
          label="เพศ:"
          label-for="gender"
          :invalid-feedback="invalidFeedbackGender"
          :valid-feedback="validFeedbackGender"
          :state="stateGender"
        >
          <b-form-select
            id="gender"
            v-model="form.gender"
            :options="genderOptions"
            required
          ></b-form-select>
        </b-form-group>

        <b-form-group
          label="เบอร์โทรศัพท์"
          label-for="phone"
          :invalid-feedback="invalidFeedbackPhone"
          :valid-feedback="validFeedbackPhone"
          :state="statePhone"
        >
          <b-form-input id="phone" v-model="form.phone" required></b-form-input>
        </b-form-group>

        <b-form-group
          label="อีเมลล์"
          label-for="email"
          :invalid-feedback="invalidFeedbackEmail"
          :valid-feedback="validFeedbackEmail"
          :state="stateEmail"
        >
          <b-form-input id="email" v-model="form.email" required></b-form-input>
        </b-form-group>

        <b-form-group
          label="วุฒิการศึกษา"
          label-for="educationDegree"
          :invalid-feedback="invalidFeedbackEducationDegree"
          :valid-feedback="validFeedbackEducationDegree"
          :state="stateEducationDegree"
        >
          <b-form-select
            id="educationDegree"
            v-model="form.educationDegree"
            :options="degreeOptions"
            required
          ></b-form-select>
        </b-form-group>

        <b-form-group
          label="ทักษะ"
          label-for="skill"
          :invalid-feedback="invalidFeedbackSkill"
          :valid-feedback="validFeedbackSkill"
          :state="stateSkill"
        >
          <b-form-input id="skill" v-model="form.skill" required></b-form-input>
        </b-form-group>

        <b-form-group
          label="เงินเดือนที่คาดหวัง"
          label-for="expextedSalary"
          :invalid-feedback="invalidFeedbackExpextedSalary"
          :valid-feedback="validFeedbackExpextedSalary"
          :state="stateExpextedSalary"
        >
          <b-form-select
            id="expextedSalary"
            v-model="form.expextedSalary"
            :options="SalaryOptions"
            required
          ></b-form-select>
        </b-form-group>

        <b-form-group
          label="ประสบการณ์ทำงาน"
          label-for="experience"
          :invalid-feedback="invalidFeedbackExperience"
          :valid-feedback="validFeedbackExperience"
          :state="stateExperience"
        >
          <b-form-textarea
            id="experience"
            v-model="form.experience"
            placeholder="เขียนประสบการณ์โดยย่อ"
            rows="3"
            max-rows="6"
            required
          ></b-form-textarea>
        </b-form-group>
      </b-form>
      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card>
    </b-modal>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      title: 'สร้างเรซูเม่ใหม่',
      form: {
        _id: '',
        name: '',
        age: '',
        gender: null,
        phone: '',
        email: '',
        educationDegree: null,
        skill: '',
        expextedSalary: null,
        experience: ''
      },
      genderOptions: [
        { text: 'เลือกหนึ่งอัน', value: null },
        { value: 'ชาย', text: 'ผู้ชาย' },
        { value: 'หญิง', text: 'ผู้หญิง' }
      ],
      degreeOptions: [
        { text: 'เลือกหนึ่งอัน', value: null },
        { value: 'ปวส.', text: 'ประกาศนียบัตรวิชาชีพชั้นสูง (ปวส.)' },
        { value: 'ปริญญาตรี', text: 'ปริญญาตรี' },
        { value: 'ปริญาโท', text: 'ปริญญาโท' },
        { value: 'ปริญาเอก', text: 'ปริญญาเอก' }
      ],
      SalaryOptions: [
        { text: 'เลือกหนึ่งอัน', value: null },
        { value: '15,000-20,000', text: '15,000-20,000' },
        { value: '25,000-30,000', text: '25,000-30,000' },
        { value: '35,000-40,000', text: '35,000-40,000' },
        { value: '45,000-50,000', text: '45,000-50,000' }
      ],
      exampleData: [],
      fields: [
        { key: '_id', label: 'ไอดี' },
        { key: 'name', label: 'ชื่อ' },
        { key: 'age', label: 'อายุ' },
        { key: 'gender', label: 'เพศ' },
        { key: 'phone', label: 'เบอร์โทรศัพท์' },
        { key: 'email', label: 'อีเมลล์' },
        { key: 'educationDegree', label: 'วุฒิการศึกษา' },
        { key: 'skill', label: 'ทักษะ' },
        { key: 'expextedSalary', label: 'เงินเดือนที่คาดหวัง' },
        { key: 'experience', label: 'ประสบการทำงาน' },
        { key: 'operation', label: 'ตัวเลือก' }
      ]
    }
  },
  methods: {
    getResume () {
      axios
        .get('http://localhost:3000/resumes')
        .then(res => {
          console.log(res)
          this.exampleData = res.data
        })
        .catch(err => {
          console.log(err)
        })
    },
    addResume () {
      console.log('สร้างเรซูเม่')
      this.$bvModal.show('modal-form-resume')
    },
    updateResume (resume) {
      console.log('Edit' + resume)
      this.title = 'แก้ไขเรซูเม่'
      this.form = { ...resume }
      this.$bvModal.show('modal-form-resume')
    },
    deleteResume (resume) {
      console.log('Del' + resume)
      this.$bvModal
        .msgBoxConfirm('ท่านต้องการลบ ' + resume.name + ' หรือไม่!!!', {
          title: 'กรุณายืนยัน',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            axios
              .delete('http://localhost:3000/resumes/' + resume._id)
              .then(res => {
                console.log(res)
                this.getResume()
              })
              .catch(err => {
                console.log(err)
              })
          }
        })
    },
    resetModal () {
      this.form = {
        _id: '',
        name: '',
        age: '',
        gender: null,
        phone: '',
        email: '',
        educationDegree: null,
        skill: '',
        expextedSalary: null,
        experience: ''
      }
    },
    handleOk (bvModalEvt) {
      bvModalEvt.preventDefault()
      this.handleSubmit()
    },
    handleSubmit () {
      if (
        this.stateName === false ||
        this.stateAge === false ||
        this.stateGender === false ||
        this.statePhone === false ||
        this.staeEmail === false ||
        this.stateEducationDegree === false ||
        this.stateSkill === false ||
        this.stateExpextedSalary === false ||
        this.stateExperience === false
      ) {
        return
      }
      if (this.form._id !== '') {
        axios
          .put('http://localhost:3000/resumes', this.form)
          .then(res => {
            console.log(res)
            this.getResume()
          })
          .catch(err => {
            console.log(err)
          })
      } else {
        delete this.form._id
        axios
          .post('http://localhost:3000/resumes', this.form)
          .then(res => {
            console.log(res)
            this.getResume()
          })
          .catch(err => {
            console.log(err)
          })
      }
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-resume')
      })
    }
  },
  computed: {
    stateName () {
      return this.form.name.length >= 2
    },
    invalidFeedbackName () {
      if (this.form.name.length > 2) {
        return ''
      } else if (this.form.name.length > 0) {
        return 'ชื่อต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'กรุณาใส่ชื่อ'
      }
    },
    validFeedbackName () {
      return this.stateName === true ? 'สำเร็จ' : ''
    },

    stateGender () {
      return this.form.gender != null
    },
    invalidFeedbackGender () {
      if (this.form.gender != null) {
        return ''
      } else {
        return 'กรุณาเลือกเพศ'
      }
    },
    validFeedbackGender () {
      return this.stategender === true ? 'สำเร็จ' : ''
    },

    stateAge () {
      return this.form.age.length >= 2
    },
    invalidFeedbackAge () {
      if (this.form.age === '18') {
        return ''
      } else if (this.form.age > 0) {
        return 'อายุอย่างน้อย 18 ปี'
      } else {
        return 'กรุณาใส่อายุ'
      }
    },
    validFeedbackAge () {
      return this.stateAge === true ? 'สำเร็จ' : ''
    },

    statePhone () {
      return this.form.phone.length >= 10
    },
    invalidFeedbackPhone () {
      if (this.form.phone.length > 10) {
        return ''
      } else if (this.form.phone.length > 0) {
        return 'กรุณาใส่เบอร์อย่างน้อย 10 ตัว'
      } else {
        return 'กรุณาใส่เบอร์โทร'
      }
    },
    validFeedbackPhone () {
      return this.statePhone === true ? 'สำเร็จ' : ''
    },

    stateEmail () {
      return this.form.email.length >= 10
    },
    invalidFeedbackEmail () {
      if (this.form.email.length > 10) {
        return ''
      } else if (this.form.email.length > 0) {
        return 'กรุณาใส่อีเมลล์อย่างน้อย 10 ตัว'
      } else {
        return 'กรุณาใส่อีเมลล์'
      }
    },
    validFeedbackEmail () {
      return this.stateEmail === true ? 'สำเร็จ' : ''
    },

    stateEducationDegree () {
      return this.form.educationDegree != null
    },
    invalidFeedbackEducationDegree () {
      if (this.form.educationDegree != null) {
        return ''
      } else {
        return 'กรุณาเลือกวุฒิการศึกษา'
      }
    },
    validFeedbackEducationDegree () {
      return this.stateEducationDegree === true ? 'สำเร็จ' : ''
    },

    stateSkill () {
      return this.form.skill.length >= 10
    },
    invalidFeedbackSkill () {
      if (this.form.skill.length > 10) {
        return ''
      } else if (this.form.skill.length > 0) {
        return 'กรุณาใส่อย่างน้อย 10 ตัว'
      } else {
        return 'กรุณาเลือกใส่ทักษะ'
      }
    },
    validFeedbackSkill () {
      return this.stateSkill === true ? 'สำเร็จ' : ''
    },

    stateExpextedSalary () {
      return this.form.expextedSalary != null
    },
    invalidFeedbackExpextedSalary () {
      if (this.form.expextedSalary != null) {
        return ''
      } else {
        return 'กรุณาเลือกเงินเดือน'
      }
    },
    validFeedbackExpextedSalary () {
      return this.stateExpextedSalary === true ? 'สำเร็จ' : ''
    },

    stateExperience () {
      return this.form.experience.length >= 10
    },
    invalidFeedbackExperience () {
      if (this.form.experience.length > 10) {
        return ''
      } else if (this.form.experience.length > 0) {
        return 'ต้องมีขนาดอย่างน้อย 10 ตัวอักษร'
      } else {
        return 'กรุณาใส่ประสบการณ์ทำงาน'
      }
    },
    validFeedbackExperience () {
      return this.stateName === true ? 'สำเร็จ' : ''
    }
  },
  mounted () {
    console.log('Vue component is mounted')
    this.getResume()
  }
}
</script>
