<template>
  <div id="home">
    <b-container>
      <b-row>
        <b-col><input class="input" type="text" v-model="search"/></b-col>
        <b-col><multiselect></multiselect></b-col>
      </b-row>

      <div v-for="post in filteredPosts" :key="post._id">
        <post :post="post"></post>
      </div>
    </b-container>
  </div>
</template>

<style>
.input {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 13px;
}
</style>

<script>
import axios from 'axios'
import Post from './../components/Post.vue'
import Multiselect from './../components/Multiselect.vue'
export default {
  components: { Post, Multiselect },
  data () {
    return {
      search: '',
      posts: []
    }
  },
  methods: {
    getPostworks () {
      axios
        .get('http://localhost:3000/postworks')
        .then(res => {
          console.log(res)
          this.posts = res.data
        })
        .catch(err => {
          console.log(err)
        })
    }
  },
  computed: {
    filteredPosts () {
      return this.posts.filter(
        post =>
          post.position.toLowerCase().includes(this.search.toLowerCase()) ||
          post.province.toLowerCase().includes(this.search.toLowerCase())
      )
    }
  },
  mounted () {
    this.getPostworks()
  }
}
</script>
