<template>
  <div class="login">
    <loginCompany />
  </div>
</template>
<script>
import loginCompany from '@/components/LoginCompany'
export default {
  components: {
    loginCompany
  }
}
</script>
