<template>
  <div class="register">
    <registerCompany />
  </div>
</template>
<script>
import registerCompany from '@/components/RegisterCompany'
export default {
  components: {
    registerCompany
  }
}
</script>
