<template>
  <b-container>
    <b-row>
      <b-col>
        <b-row class="mb-2 mt-3"><h5>ข้อมูลส่วนตัว</h5> </b-row>
        <b-row>
          <span
            >ชื่อ: {{ applyData.name }} นามสกุล: {{ applyData.surname }}</span
          >
        </b-row>
        <b-row class="mt-2">
          <span>ที่อยู่ปัจจุบัน: </span>
          <b-col>
            <b-form-input
              v-model="address"
              type="text"
              debounce="100"
            ></b-form-input
          ></b-col>
        </b-row>
        <b-row class="mt-2">
          <span>ระดับการศึกษาสูงสุด: </span>
          <b-col cols="5"
            ><b-form-select
              v-model="selected"
              :options="options1"
            ></b-form-select
          ></b-col>
        </b-row>
      </b-col>
      <b-col>
        <b-row class="mb-2 mt-3"> <h5>ประสบการณ์ทำงานโดยย่อ(ถ้ามี)</h5></b-row>
        <b-form-textarea
          id="textarea-small"
          size="sm"
          rows="3"
          placeholder="ระบุข้อความได้ที่นี่"
        ></b-form-textarea>
        <b-row class="mt-2">
          <b-col cols="4"><span>เงินเดือนที่คาดหวัง:</span></b-col>
          <b-col cols="8" class="ml-0">
            <b-form-input
              v-model="expectedSalary"
              type="text"
              debounce="100"
            ></b-form-input
          ></b-col>
        </b-row>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <b-row class="mb-2 mt-5">
          <h5>
            ข้อมูลการติดต่อ
          </h5>
        </b-row>
        <b-row>
          <span>อีเมลล์ติดต่อ: {{ applyData.email }}</span>
        </b-row>
        <b-row>
          <span>เบอร์ติดต่อ: {{ applyData.tel }} </span>
        </b-row>
      </b-col>
      <b-col>
        <b-row class="mb-2 mt-5"> <h5>เรซูเม่</h5> </b-row>
        <b-row>
          <b-col cols="3"><span>แนบไฟล์เรซูเม่: </span></b-col>
          <b-col
            ><b-button
              variant="secondary
            "
              class="btn-sm"
              >อัพโหลดเรซูเม่</b-button
            ></b-col
          ></b-row
        >
      </b-col>
    </b-row>
    <b-row class="d-flex flex-row-reverse">
      <b-button variant="success" class="btn-lg mb-3 mt-3"
        >ยืนยันการสมัครงาน</b-button
      >
    </b-row>
  </b-container>
</template>

<style></style>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      applyData: [],
      expectedSalary: 0,
      address: '',
      selected: null,
      options1: [
        { value: null, text: 'ประถมศึกษา' },
        { value: 'a', text: 'มัธยมศึกษาตอนต้น' },
        { value: 'b', text: 'มัธยมศึกษาตอนปลาย' },
        { value: 'c', text: 'ปวช.' },
        { value: 'd', text: 'ปวส.' },
        { value: 'e', text: 'ปริญญาตรี' },
        { value: 'f', text: 'ปริญญาโท' },
        { value: 'g', text: 'ปริญญาเอก' }
      ]
    }
  },
  methods: {
    getApply (id) {
      axios
        .get('http://localhost:3000/applys/' + id)
        .then(res => {
          console.log(res.data)
          this.applyData = res.data
        })
        .catch(err => {
          console.log(err)
        })
    }
  },
  mounted () {
    this.getApply('603b4555451562f6a9adec31')
  }
}
</script>
